/* Written by Timson Lee */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    background-color: hsl(27, 66%, 92%);
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    margin: 70px 20px 70px 20px;
    min-height: 100%;
}

/* Balance component */

#balance {
    background-color: hsl(10, 79%, 65%);
    width: 100%;
    height: 100px;
    border-radius: 10px;
    display: grid;
    grid-template-areas:
        "balance-title logo"
        "balance-value logo";
}

#balance-title {
    grid-area: balance-title;
    margin-left: 20px;
}

#balance-value {
    grid-area: balance-value;
    margin-left: 20px;
}

#logo {
    grid-area: logo;
    align-self: center;
    justify-self: end;
    right: 0;
    margin-right: 20px;
}

/* Spending component */

#spending {
    background-color: hsl(33, 100%, 98%);
    width: 100%;
    height: 407px;
    border-radius: 10px;
    margin-top: 20px;
}